<%- include('../layouts/userHeader.ejs') %>


<!-- /.Fixed navbar  -->
<div class="container main-container headerOffset">

    <!-- Main component call to action -->

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li class="active">SMART WATCHES</li>
            </ul>
        </div>
    </div>
    <!-- /.row  -->

    <div class="row">

        <!--left column-->

        <div class="col-lg-3 col-md-3 col-sm-12">

            <div class="panel-group" id="accordionNo">
                 <!--Category-->
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseCategory" class="collapseWill active">
                                <span class="pull-left">
                                    <i class="fa fa-caret-right"></i></span>
                                Category
                            </a>
                        </h4>
                    </div>
                    <div id="collapseCategory" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
                                <% categoryData.forEach(function(data) { %>
                                    <li class="active dropdown-tree open-tree">
                                        <a href="/productlist/filter/category/<%= data._id %>">
                                            <% /* <!-- <span class="badge pull-right">42</span> --> */ %>
                                            <%= data.categoryName%>
                                        </a>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--Category-->
                
                <!--/Category menu end-->

            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapseWill active" data-toggle="collapse" href="#collapsePrice">
                                Price
                                <span class="pull-left">
                                    <i class="fa fa-caret-right"></i></span>
                            </a>
                            <span class="pull-right clearFilter label-danger">
                                Clear
                            </span>
                        </h4>
                    </div>
                    <div id="collapsePrice" class="panel-collapse collapse in">
                        <div class="panel-body priceFilterBody">
                            <!-- -->
                            <form action="/productlist/filter/priceRange">
                                <label>
                                    <input type="radio" name="priceRange" value="0" />
                                    Less than ₹1000</label>
                                <br />
                                <label>
                                    <input type="radio" name="priceRange" value="1" />
                                    ₹1000 - ₹2000</label>
                                <br />
                                <label>
                                    <input type="radio" name="priceRange" value="2" />
                                    ₹2000 - ₹3000</label>
                                <br />
                                <label>
                                    <input type="radio" name="priceRange" value="3" />
                                    ₹3000 - ₹4000</label>
                                <br />
                                <button type="submit" class="btn btn-default pull-right">
                                    check
                                </button>
                            </form>
                            

                           
                                
                               
                        </div>
                    </div>
                </div>
                <!--/price panel end-->
                
                <!--/brand panel end-->

          
                <!--/color panel end-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapseThree"
                                                   class="collapseWill active ">
                            Discount <span class="pull-left"> <i class="fa fa-caret-right"></i></span> </a></h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="block-element">
                                <label>
                                    <input type="checkbox" name="tour" value="3"/>
                                    Non-Discounted items </label>
                            </div>
                            <div class="block-element">
                                <label>
                                    <input type="checkbox" name="tour" value="3"/>
                                    Discounted items </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/discount  panel end-->
            </div>
        </div>

        <!--right column-->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="w100 clearfix category-top">
                <h2> OUR PRODUCTS </h2>

            
            <!--/.category-top-->

        
            <!--/.subCategoryList-->

                <div class="w100 productFilter clearfix">
                    <p class="pull-left">Showing <strong><%= productData.length %></strong> products</p>
                    <div class="pull-right">
                        <div class="change-order pull-right">
                            <select id="sortDropdown" class="form-control" name="orderby" onchange="sortDropdownFn()">
                                <option id="default" value="default" selected="selected">Default sorting</option>
                                <option id="priceAscending" value="priceAscending">Sort by price: low to high</option>
                                <option id="priceDescending" value="priceDescending">Sort by price: high to low</option>
                            </select>
                        </div>
                        <div class="change-view pull-right">
                            <a href="#" title="Grid" class="grid-view">
                                <i class="fa fa-th-large"></i>
                            </a>
                            <a href="#" title="List" class="list-view"><i class="fa fa-th-list"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--/.productFilter-->
            <div class="row  categoryProduct xsResponse clearfix">
                
                <!--/.item-->
            
                <!--/.item-->
                
                <!--/.item-->
                
                <!--/.item-->
                <!-- <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                           
                            <a href="product-details.html"><img src="images/product/35.jpg" alt="img"
                                                                class="img-responsive"></a></div>
                        <div class="description">
                            <h4><a href="product-details.html">humanitatis per</a></h4>

                            <div class="grid-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                            <div class="list-description">
                                <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit ante. Aliquam vel
                                    fermentum elit. Morbi rhoncus, neque in vulputate facilisis, leo tortor sollicitudin
                                    odio, quis pellentesque lorem nisi quis enim. In dolor mi, hendrerit at blandit
                                    vulputate, congue a purus. Sed eget turpis sit amet orci euismod accumsan. Praesent
                                    sit amet placerat elit. </p>
                            </div>
                            <span class="size">XL / XXL / S </span></div>
                        <div class="price"><span>$25</span></div>
                        <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                                class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                    </div>
                </div> -->
                <div class="row categoryProduct xsResponse clearfix" style="width: 80rem; padding-left: 20px; flex-wrap: wrap; " >
                    <% productData.reverse().forEach((product, i)=> { %>
                        <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6 grid-view" >
                            <div class="product">
                                <a href="/cart/<%= product._id %>" class="add-fav tooltipHere"
                              >
                                <i class="glyphicon glyphicon-heart"></i>
                              </a>
                                <!-- Uncomment the following lines if you want to include the "Add to Wishlist" button -->
                                <!-- <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                                            <i class="glyphicon glyphicon-heart"></i>
                                                        </a> -->
                                <div class="image">
                                    <a href="/productDetails/<%= product._id %>"> 
                                        <img src="/upload/<%= product.productImage1 %>" alt="img"
                                            class="img-responsive" />
                                    </a>
                                </div>
                                
                                
                                <div class="description">
                                    <h4 class="small-font-size">
                                        <a href="/productDetails/<%= product._id %>">
                                            <%= product.productName %>
                                        </a>
                                    </h4>
                                </div>
                                
                                <div class="price">
                                    <span>₹<%= product.productPrice %></span>
                                </div>
                                <div class="action-control">
                                    <a href="/cart/<%= product._id %>" class="btn btn-primary" onclick="addToCart()">
                                        <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"></i> Add to cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                 
                            <!--/.item-->
</div>
                    <div class="w100 categoryFooter">
    <div class="pagination pull-left no-margin-top">
        <ul class="pagination no-margin-top">
            <li><a href="#">«</a></li>
            <% totalPagesArray.forEach(function(page, index) { %>
                <li class=""><a href="/productList?pageNo=<%= index + 1 %>"><%= index + 1 %></a></li>
            <% }); %>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <!-- <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
        <p>Showing 1–<%= /* Add the total number of results here */ %> of 12 results</p>
    </div> -->
</div>


                </div>

               
                <!--/.item-->
               
              
                <!--/.item-->
                
               
                <!--/.item-->
               
         

               
                <!--/.item-->
                
            
                <!--/.item-->
               
                
             
                <!--/.item-->
              
                
                <!--/.item-->
               
            </div>
            <!--/.categoryProduct || product content end-->

           
            <!--/.categoryFooter-->
        </div>
        <!--/right column end-->
    </div>
    <!-- /.row  -->
</div>

<!-- /main container -->

<div class="gap"></div>

<!-- Product Details Modal  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
 



    function addToCart() {
    
    Swal.fire({
        icon: 'success',
        title: 'Item Added to Cart',
        showConfirmButton: false,
        timer: 1500
    });
}


</script>
<script>
    async function sortDropdownFn() {
        try {
            console.log(sortDropdown.value)
            if (sortDropdown.value == 'default') {
                return window.location.href = '/productList'
            }
            const response = await fetch('/productList/sort/' + sortDropdown.value, { method: 'GET' })
            const data = await response.json()
            let sortDropdownElement = document.getElementById(`${sortDropdown.value}`)
            sortDropdownElement.setAttribute('selected', true)
            if (data.success) {
                localStorage.setItem('selectedDropdownOption', sortDropdown.value)
                window.location.href = '/productList'
            }
        } catch (error) {
            console.error(error)
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectedDropdownOption = localStorage.getItem('selectedDropdownOption')
        if (selectedDropdownOption) {
            document.getElementById('sortDropdown').value = selectedDropdownOption
        }
    })
</script>



<%- include('../layouts/userFooter.ejs') %>